# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

renci*.yaml filter=git-crypt diff=git-crypt
aws*.yaml filter=git-crypt diff=git-crypt
context.xml filter=git-crypt diff=git-crypt
web.xml  filter=git-crypt diff=git-crypt
test*.yaml filter=git-crypt diff=git-crypt
std*.yaml filter=git-crypt diff=git-crypt
exp*.yaml filter=git-crypt diff=git-crypt
*.xml filter=git-crypt diff=git-crypt
rules-config-map.yaml filter=git-crypt diff=git-crypt
dev-tds-*.yaml filter=git-crypt diff=git-crypt
prod-tds-*.yaml filter=git-crypt diff=git-crypt
